*{
    margin: 0;
    padding: 0;
    background-color:black;
    color: rgb(212, 194, 194);
}

:root {
--game-square-size : 8rem;
}

#game-board-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
}

.game-square {
    min-height: var(--game-square-size);
    max-height: var(--game-square-size);
    min-width: var(--game-square-size);
    max-width: var(--game-square-size);
    border: 1px green solid;
    margin: auto;
    font-size: 4rem;
    text-align: center;
    justify-content: center;
}

#instruction-text {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
}

#reset-button{
    color: rgb(107, 25, 25);
    display: block;
    margin: auto;
    margin-top: 1rem;
    min-width: 5rem;
    min-height: 2.5rem;
    font-size: 1.5rem;
}